<link rel="stylesheet" type="text/css" href="css/first stylesheet.css">

<header>
    <div>
        <h1>SimplyU</h1>
    </div>
</header>

<p><span>SimplyU</span> lets you simply get to know yourself. <br>
    I know its so cringey but I am not getting any other proper ideas right now.<br>
    Just sign up for more cringey stuff. </p>


<a href="signup"><button id="signup">Sign up</button></a>

<a href="login"><button id="login">Log in</button></a>