<link rel="stylesheet" href="css/home stylesheet.css">

<header>
    <div class="sameLine">
        <h1>SimplyU</h1>
    </div>
    <div class="sameLine">
        <a href="first">
            <button id="logout">Log out</button>
        </a>
    </div>
</header>

<h2>Welcome to <span>SimplyU</span>, user...</h2>