<link rel="stylesheet" href="css/signup stylesheet.css">

<header>
    <div>
        <h1>SimplyU</h1>
    </div>
</header>

<a href="first"><button id="back">Go back</button></a><br>

<form action="home">

    <input type="email" name="email" id="email" required placeholder="Email"><br>
    <input type="phone" name="phone" id="phone" required placeholder="Phone number"><br>
    <input type="password" name="password" id="password" required placeholder="Set password"><br>

    <a href="home"><button id="Register">Register</button></a><br>

    <a href="login">
        <p>Already have an account? Log in</p>
    </a>

</form>